{% include 'header.html' %}
<html>
<body>
<br/>
<div class="content" >
<h2 align="center" style="color: green;">Together with you, Invitation Homes is setting a new standard in home leasing.</h2>
<p style="margin-top: 50px">At Invitation Homes, we offer high-quality homes for lease in desirable neighborhoods across America.
    As the nation’s premier home leasing company,we offer our residents welcoming spaces for a more inviting life.</p>
<p>With over 80,000 homes for lease in 17 markets across the country, our residents have access to homes with features they value,
    such as close proximity to jobs and access to good schools.Each Invitation Home features beautiful updates and renovations
    from curb to kitchen.</p>
<p>But we know owning houses is the easy part. Making them homes where individuals and families thrive is why we’re in business.
    That’s why our mission is “Together with you, we make a house a home.”</p>
<p>Invitation Homes is committed to continuously enhancing our residents’ living experience and we back our promises with:</p>
    <ul><li>Top-level property management</li>
        <li>Wide selection of homes in desirable neighborhoods</li>
        <li>All homes recently updated and renovated</li>
        <li>ProCare Service and 24/7 Emergency Maintenance</li>
        <li>Smart Home technology features</li>
        <li>Pet-friendly environment</li>
        <li>Easy online payment system</li>
    </ul>
<p>When residents choose Invitation Homes, they’re getting the flexibility they need, along with exceptional quality, professionalism, and heart that we pledge to deliver.</p>

</div>
</body>
<style>
    .content{
        max-width: 80%;
        margin:auto;
        font-size: 18px;
        margin-top: 50px;

    }
</style>
</html>